@font-face {
  font-family: f01;
  src: url(../font/fanlste.otf);
}
@font-face {
  font-family: f02;
  src: url(../font/IRANSansWeb.ttf);
}
@font-face {
  font-family: f03;
  src: url(../font/GalvitraRegular-ALe7D.otf);
}
@font-face {
  font-family: f04;
  src: url(../font/AlokaryPersonalUse-z8pa4.ttf);
}
@font-face {
  font-family: f05;
  src: url(../font/Glorifydemo-BW3J3.otf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 853.33px;
  background-color: #f3eae3;
}

body > div.all {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body > div.all > div.box {
  width: 640px;
  height: 482px;
  background-color: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

body > div.all > div.box > div.img {
  width: 321px;
  height: 100%;
}

body > div.all > div.box > div.img > img {
  width: 100%;
  border-radius: 10px 0 0 10px;
  -webkit-border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  -ms-border-radius: 10px 0 0 10px;
  -o-border-radius: 10px 0 0 10px;
}

body > div.all > div.box > div.right {
  width: 321px;
  height: 100%;
}

body > div.all > div.box > div.right > div.head {
  width: 113px;
  height: 21px;
  margin-left: 27px;
  margin-top: 33px;
  padding-left: 5px;
}

body > div.all > div.box > div.right > div.head > p {
  font-family: f02;
  font-size: 14px;
  color: #97979f;
  text-transform: uppercase;
}

body > div.all > div.box > div.right > div.title {
  width: 224px;
  height: 121px;
  margin-left: 27px;
  margin-top: 13px;
  padding-left: 10px;
}

body > div.all > div.box > div.right > div.title > p {
  font-family: f05;
  font-size: 32px;
  color: #000000;
  text-transform: capitalize;
  font-weight: 600;
  line-height: 40px;
}

body > div.all > div.box > div.right > div.text {
  width: 254px;
  height: 121px;
  margin-left: 27px;
  margin-top: 12px;
  padding-left: 5px;
}

body > div.all > div.box > div.right > div.text > p {
  font-family: f02;
  font-size: 16px;
  color: #727179;
  line-height: 25px;
}

body > div.all > div.box > div.right > div.price {
  width: 220px;
  height: 40px;
  margin-left: 27px;
  margin-top: 6px;
  padding-left: 5px;
  padding-top: 5px;
  position: relative;
}

body > div.all > div.box > div.right > div.price > h1 {
  font-family: f05;
  color: #44836e;
}

body > div.all > div.box > div.right > div.price > h2 {
  font-family: f05;
  font-size: 16px;
  position: absolute;
  right: 10px;
  top: 12px;
  color: #97979f;
  text-decoration: line-through;
}

body > div.all > div.box > div.right > a {
  text-decoration: none;
}

body > div.all > div.box > div.right > a > div.cart {
  width: 252px;
  height: 51px;
  background-color: #44836e;
  margin: 22px auto;
  border-radius: 10px;
  text-align: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  position: relative;
  transition: 400ms;
  -webkit-transition: 400ms;
  -moz-transition: 400ms;
  -ms-transition: 400ms;
  -o-transition: 400ms;
}

body > div.all > div.box > div.right > a > div.cart:hover {
  background-color: #194031;
  transition: 400ms;
  -webkit-transition: 400ms;
  -moz-transition: 400ms;
  -ms-transition: 400ms;
  -o-transition: 400ms;
}

body > div.all > div.box > div.right > a > div.cart > div.img {
  width: 30px;
  position: absolute;
  left: calc(50% - 130px / 2);
  top: calc(50% - 32px / 2);
  height: 25px;
  padding-top: 5px;
}

body > div.all > div.box > div.right > a > div.cart > div.img > img {
  width: 60%;
}

body > div.all > div.box > div.right > a > div.cart > p {
  color: white;
  position: absolute;
  left: calc(50% - 60px / 2);
  top: calc(50% - 25px / 2);
  font-size: 16px;
  font-family: f02;
}
